.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
  position: absolute;
  top: 0;

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__links {
    display: flex;
    align-items: center;
    column-gap: 56px;
  }

  &__link a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    transition: color .325s linear;

    &:hover {
      color: gray;
    }
  }
}