<header class="header">
    <div class="header__logo">
        <img src="../images/logo.svg" alt="logo">
    </div>
    <nav class="header__nav">
        <ul class="header__links">
            <li class="header__link"><a href="">Главная</a></li>
            <li class="header__link"><a href="">Курсы</a></li>
            <li class="header__link"><a href="">Расписание</a></li>
            <li class="header__link"><a href="">Преподаватели</a></li>
            <li class="header__link"><a href="">Рассылка</a></li>
            <li class="header__link"><a href="">Контакты</a></li>
        </ul>
    </nav>
    <button class="button">Зайти в кабинет</button>
</header>