<div class="hero">
    <div class="hero__background">
        <img src="../images/hero.png" alt="">
    </div>
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__content-title">Первый курс по компьютерной сборке</h1>
            <div id="counter" class="hero__content-counter counter">
                <div class="counter__box">
                    <div class="counter__number--days counter__number">0</div>
                    <div class="counter__text">Дней</div>
                </div>
                <div class="counter__box">
                    <div class="counter__number--hours counter__number">0</div>
                    <div class="counter__text">Часов</div>

                </div>
                <div class="counter__box">
                    <div class="counter__number--minutes counter__number">0</div>
                    <div class="counter__text">Минут</div>

                </div>
                <div class="counter__box">
                    <div class="counter__number--seconds counter__number">0</div>
                    <div class="counter__text">Секунд</div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__footer">
        <div class="container">
            <div class="hero__footer-container">
                <button class="hero__footer-button button button--active">Заказать курс</button>
                <div class="hero__footer-students">
                    <div class="hero__footer-students-block">
                        <div class="hero__footer-students-block-text">Учеников всего</div>
                        <div class="hero__footer-students-block-number">200</div>
                    </div>
                    <div class="hero__footer-students-block">
                        <div class="hero__footer-students-block-text">Успешно закончили курс</div>
                        <div class="hero__footer-students-block-number">190</div>
                    </div>
                </div>
                <div class="hero__footer-progress">
                    <div class="hero__footer-students-block-text">Заработано учениками</div>
                    <div class="hero__footer-students-block-number" id="progressSum" data-sum="400000">0</div>
                    <div class="hero__footer-progress-block">
                        <div class="hero__footer-progress-bar">
                            <div class="hero__footer-progress-bar-line" id="progressLine"></div>
                        </div>
                        <div class="hero__footer-students-block-sum">0</div>
                        <div class="hero__footer-students-block-sum">1 000 000₽</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>