.footer {
  padding: 100px 0;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__description {
    max-width: 420px;
    opacity: 0.5;
    text-align: center;
    margin: 0 auto 60px;
  }

  &__social {
    margin: 40px auto;
    max-width: 500px;
  }
}