<div class="partners">
    <div class="container">
        <h2 class="partners__title rolling">Партнеры - топовые бренды</h2>
        <div class="partners__items">
            <div class="partners__item">
                <img src="../images/partner-1.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-2.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-2.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-4.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-2.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-1.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-1.png" alt="">
            </div>
            <div class="partners__item">
                <img src="../images/partner-1.png" alt="">
            </div>
        </div>
    </div>
</div>