{% extends "../main-container/main-container.twig" %}

{% block page %}
  {% block page_header %}
    {% include '../header/header.twig' %}
  {% endblock %}
  
  <main class="main-container">
    {% block page_content %}{% endblock %}
  </main>

  {% block page_footer %}
    {% include '../footer/footer.twig' %}
  {% endblock %}
{% endblock %}
