<div class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__content-left">
                <div class="about__image-holder">
                    <img src="../images/item.png" alt="">
                </div>
            </div>
            <div class="about__content-right">
                <div class="about__info">
                    <h2 class="about__info-title">Чем мы занимаемся?</h2>
                    <p class="about__info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa officia tenetur unde veritatis. Atque aut dolore eos necessitatibus nostrum sequi, soluta! Ad consequatur, delectus dolor exercitationem facere quae unde?</p>
                </div>
            </div>
        </div>
    </div>
</div>