<div class="job-now">
    <div class="container">
        <h2 class="job-now__title">Получите профессию прямо сейчас</h2>
        <div class="job-now__items">
            <div class="job-now__item">
                <div class="job-now__img"><img src="../images/icon-1.svg" alt=""></div>
                <div class="job-now__heading">Только практические навыки в работе</div>
                <div class="job-now__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, aliquam atque dicta ea, eius eum excepturi illo non saepe sunt suscipit vel velit. Harum illum iusto nihil quibusdam repudiandae!</div>
            </div>
            <div class="job-now__item">
                <div class="job-now__img"><img src="../images/icon-2.svg" alt=""></div>
                <div class="job-now__heading">Только практические навыки в работе</div>
                <div class="job-now__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, aliquam atque dicta ea, eius eum excepturi illo non saepe sunt suscipit vel velit. Harum illum iusto nihil quibusdam repudiandae!</div>
            </div>
            <div class="job-now__item">
                <div class="job-now__img"><img src="../images/icon-3.svg" alt=""></div>
                <div class="job-now__heading">Только практические навыки в работе</div>
                <div class="job-now__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, aliquam atque dicta ea, eius eum excepturi illo non saepe sunt suscipit vel velit. Harum illum iusto nihil quibusdam repudiandae!</div>
            </div>
        </div>
    </div>
</div>