<div class="teachers">
    <div class="container">
        <h2 class="teachers__title rolling">Ваши преподаватели</h2>
        <div class="teachers__items">
            <div class="teachers__item">
                <div class="teachers__img">
                    <img src="../images/avatar.png" alt="">
                </div>
                <div class="teachers__name">Дмитрий Иванов</div>
                <div class="teachers__job">Специалист по видеокартам</div>
                <a href="" class="teachers__link button button--transparent">Биография</a>
            </div>
            <div class="teachers__item">
                <div class="teachers__img">
                    <img src="../images/avatar.png" alt="">
                </div>
                <div class="teachers__name">Дмитрий Иванов</div>
                <div class="teachers__job">Специалист по видеокартам</div>
                <a href="" class="teachers__link button button--transparent">Биография</a>
            </div>
            <div class="teachers__item">
                <div class="teachers__img">
                    <img src="../images/avatar.png" alt="">
                </div>
                <div class="teachers__name">Дмитрий Иванов</div>
                <div class="teachers__job">Специалист по видеокартам</div>
                <a href="" class="teachers__link button button--transparent">Биография</a>
            </div>
        </div>
    </div>
</div>