<div class="program">
    <div class="container">
        <h2 class="program__title rolling rolling--top">
           Программа обучения
        </h2>
        <div class="program__description">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</div>
        <div class="program__items">
            <div class="program__item">
                <div class="program__weak">Неделя 1</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
            <div class="program__item">
                <div class="program__weak">Неделя 2</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
            <div class="program__item">
                <div class="program__weak">Неделя 3</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
            <div class="program__item">
                <div class="program__weak">Неделя 4</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
            <div class="program__item">
                <div class="program__weak">Неделя 5</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
            <div class="program__item">
                <div class="program__weak">Неделя 6</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
            <div class="program__item">
                <div class="program__weak">Неделя 7</div>
                <div class="program__plan">Красивая часть курса, которая помогает в успехе</div>
            </div>
        </div>
    </div>
</div>