<div class="start">
    <div class="container">
        <h2 class="start__title rolling">Быстрый старт</h2>
        <div class="start__text">
            Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер
        </div>

        <div class="start__progress">
            <div class="start__progress-top">
                <div class="start__progress-top-number">100%</div>
                <div class="start__progress-top-number">75%</div>
                <div class="start__progress-top-number">50%</div>
                <div class="start__progress-top-number">Итог</div>
            </div>
            <div class="start__progress-animation">
                <div class="start__progress-animation-bar start__progress-animation-bar--first"></div>
                <div class="start__progress-animation-bar start__progress-animation-bar--second"></div>
                <div class="start__progress-animation-bar start__progress-animation-bar--third"></div>
                <div class="start__progress-animation-bar start__progress-animation-bar--fourth"></div>
            </div>
        </div>
    </div>
</div>